<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="col-sm-3">
	    	<div class="card" style="height:600px;">
		    	<div class="card-header" style="font-size :20px; text-align: center;">
		    		<b>HOSTELS</b>
		  		</div>

	    		<div class="card-body" style="max-height: 550px;overflow: scroll; overflow-x:hidden;">

	    			<form method="" enctype="multipart/form-data">

			            {% csrf_token %}

			            <!-- names of hostel -->

			            <div style="float: left;width:50%;">

			               {% for con in data_names %}

			                  <table style="border-width: 6px; border: #333;width:100%;">

			                     <tr>

			                        <input class="btn btn-info" type="submit" value={{con}} name="country" style="width:140px;margin:5px;">

			                     </tr>

			                  </table>

			               {% endfor %}

			            </div>
			        </form>

	    			<!-- the chart -->
					
					<form method="" enctype="multipart/form-data">

			            {% csrf_token %}

			            <!-- names of country -->

			            <div style="float: left;width:50%;">

			               {% for con in data_values %}

			                  <table style=" border: #333;width:100%;">

			                     <tr>

			                        <input class="btn btn-secondary" type="submit" value={{con}} name="country" style="width:140px;margin:5px;">

			                     </tr>

			                  </table>

			               {% endfor %}

			            </div>
			        </form>
	    		</div>
	    	</div>
	    </div>
